# Local .terraform directories
.terraform/

# Terraform state files
*.tfstate
*.tfstate.*

# Crash logs
crash.log

# Terraform variable files (potentially sensitive)
*.tfvars
*.tfvars.json

# Sensitive files you may create
*.backup
*.log
*.secret
*.env

# Ignore override
